body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-product-sans-medium: "Product Sans Medium";
  --font-product-sans: "Product Sans";

  /* font sizes */
  --font-size-mid: 17px;
  --font-size-base-9: 15.9px;
  --font-size-xl-7: 20.7px;
  --font-size-6xl: 25px;
  --font-size-sm: 14px;

  /* Colors */
  --white: #fff;
  --color-mediumvioletred: #c53183;
  --color-hotpink: #de4a9c;
  --color-black: #000;
  --color-gainsboro-100: rgba(217, 217, 217, 0.4);
  --color-gainsboro-200: rgba(217, 217, 217, 0.5);
  --color-gray-100: rgba(0, 0, 0, 0.15);
  --color-dimgray: #4a5568;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-sm: 14px;
  --gap-4xs: 9px;
  --gap-mini: 15px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-6xs: 7px;
  --padding-4xl: 23px;
  --padding-10xs: 3px;
  --padding-15xl: 34px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-smi: 13px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-34xl: 53px;

  /* Border radiuses */
  --br-9xs-8: 3.8px;
  --br-3xs: 10px;
  --br-4xs-3: 8.3px;
  --br-34xl: 53px;
}

.navbar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  backdrop-filter: blur(30px);
  border-bottom: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.connectop {
  position: absolute;
  top: 21px;
  left: 182px;
  letter-spacing: 0.02em;
  line-height: 31px;
  text-transform: capitalize;
}
.logo-icon,
.navbar {
  position: relative;
  display: none;
}
.navbar {
  align-self: stretch;
  height: 75px;
  z-index: 0;
}
.logo-icon {
  width: 77px;
  height: 69px;
  object-fit: cover;
  z-index: 1;
}
.home-frame {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(132, 132, 132, 0.3);
  box-sizing: border-box;
  opacity: 0.2;
}
.logo-icon1 {
  width: 68.4px;
  height: 69px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.line-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 0;
}
.home {
  position: relative;
  z-index: 1;
}
.group-frame-child {
  align-self: stretch;
  height: 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.booking-frame,
.group-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group-frame {
  align-self: stretch;
  height: 35px;
  align-items: center;
  gap: var(--gap-mini);
}
.booking-frame {
  width: 99px;
  align-items: flex-start;
  padding: 17px 32px 0 0;
  box-sizing: border-box;
}
.book-a-mentor,
.your-sessions {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.your-sessions {
  cursor: pointer;
}
.complete-profile-button {
  width: 842px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: 50px;
  max-width: 100%;
  color: var(--color-dimgray);
}
.name-frame-icon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 52px;
  z-index: 1;
}
.phone-email-linkedin-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.mingcutedown-line-icon {
  width: 17px;
  height: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.mini-divider-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.header-frame,
.navbar1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.navbar1 {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl) 1px;
  position: relative;
  gap: var(--gap-8xs);
  z-index: 1;
}
.header-frame {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-product-sans);
}
.background-frame-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0.5px;
  bottom: -0.3px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.icround-upload-icon {
  height: 18.4px;
  width: 18.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.upload {
  position: relative;
  font-size: var(--font-size-base-9);
  font-family: var(--font-product-sans-medium);
  color: var(--white);
  text-align: left;
}
.background-frame,
.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.submit-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-mini) 8px;
  background-color: var(--color-mediumvioletred);
  border-radius: 3.82px;
  justify-content: flex-start;
  gap: 8px;
  z-index: 1;
}
.my-profile-text:hover,
.profile-picture-input:hover,
.submit-button:hover,
.submit-label:hover {
  background-color: var(--color-hotpink);
}
.background-frame {
  height: 619px;
  margin: 0 !important;
  position: absolute;
  top: -154px;
  right: -3px;
  justify-content: flex-end;
  padding: var(--padding-34xl) 187px var(--padding-34xl) 226px;
  box-sizing: border-box;
}
.complete-profile {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.session-text-child {
  height: 56px;
  width: 417px;
  position: relative;
  border-radius: var(--br-34xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.my-profile {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-product-sans-medium);
  color: var(--white);
  text-align: left;
}
.my-profile-text {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 19px var(--padding-3xs) 25px;
  background-color: var(--color-mediumvioletred);
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  z-index: 1;
}
.my-qualifications {
  margin: 0;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 400;
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.session-text {
  border-radius: var(--br-34xl);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-15xl) var(--padding-10xs)
    var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.user-name {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
}
.upload-text {
  border: 1.7px solid var(--color-gray-100);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 55.5px;
  position: relative;
  border-radius: 8.29px;
  box-sizing: border-box;
  min-width: 250px;
}
.profile-picture-frame {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.phone-number {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
}
.background-text {
  border: 1.7px solid var(--color-gray-100);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 55.5px;
  position: relative;
  border-radius: 8.29px;
  box-sizing: border-box;
  min-width: 250px;
}
.user-name-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-4xs);
}
.email {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
}
.user-name-text-child {
  border: 1.7px solid var(--color-gray-100);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 55.5px;
  position: relative;
  border-radius: 8.29px;
  box-sizing: border-box;
  min-width: 250px;
}
.user-name-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-4xs);
}
.linkedin-profile {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
}
.user-name-text-item {
  border: 1.7px solid var(--color-gray-100);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 55.5px;
  position: relative;
  border-radius: 8.29px;
  box-sizing: border-box;
  min-width: 250px;
}
.user-name-text2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-4xs);
}
.profile-bio {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
}
.user-name-text-inner {
  border: 1.7px solid var(--color-gray-100);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 55.5px;
  position: relative;
  border-radius: 8.29px;
  box-sizing: border-box;
  min-width: 250px;
}
.linked-in-profile-frame,
.user-name-text3 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-11xs) 0 0;
}
.user-name-text3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.linked-in-profile-frame {
  flex: 1;
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.book-frame,
.email-rectangle,
.linked-in-profile-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.email-rectangle {
  align-self: stretch;
  height: 505px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.book-frame {
  flex: 1;
  flex-direction: column;
  gap: 31px;
  min-width: 376px;
}
.profile-picture-frame-child {
  height: 116px;
  width: 429px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.material-symbolsimage-icon {
  height: 90px;
  width: 90px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.image-icon-frame,
.profile-picture-frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.profile-picture-frame1 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xl) var(--padding-smi) 21px;
}
.image-icon-frame {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 0;
  z-index: 1;
}
.upload-profile-background {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.upload-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.upload-button-icon {
  width: 172px;
  flex: 1;
  position: relative;
  max-height: 100%;
}
.upload-profile-picture {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-product-sans-medium);
  color: var(--color-black);
  text-align: left;
}
.icround-upload-icon1 {
  height: 18.4px;
  width: 18.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.upload1 {
  position: relative;
  font-size: var(--font-size-base-9);
  font-family: var(--font-product-sans-medium);
  color: var(--white);
  text-align: left;
}
.file-upload-section,
.profile-picture-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-picture-input {
  cursor: pointer;
  border: 0;
  padding: 7.649819374084473px var(--padding-mini);
  background-color: var(--color-mediumvioletred);
  border-radius: 3.82px;
  align-items: center;
  gap: 7.65px;
}
.file-upload-section {
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.frame-with-three-parts,
.profile-background {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.profile-background {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-sm);
  z-index: 1;
}
.frame-with-three-parts {
  align-self: stretch;
  gap: 21px;
}
.frame-with-three-parts,
.icon-round-upload-frame,
.line-vector {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.icon-round-upload-frame {
  height: 415px;
  width: 452px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 27px;
  box-sizing: border-box;
  min-width: 452px;
}
.line-vector {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}
.submit {
  height: 26px;
  position: relative;
  font-size: 21.1px;
  font-family: var(--font-product-sans-medium);
  color: var(--white);
  text-align: left;
  display: flex;
  align-items: flex-end;
}
.complete-frame,
.submit-label {
  display: flex;
  flex-direction: row;
}
.submit-label {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-mediumvioletred);
  flex: 1;
  border-radius: 5.1px;
  align-items: center;
  justify-content: center;
}
.complete-frame {
  width: 153px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 0;
  box-sizing: border-box;
}
.home-text,
.navbar-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.home-text {
  margin: 0;
  align-self: stretch;
  align-items: center;
  gap: var(--gap-xs);
}
.navbar-frame {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 35px;
  color: var(--color-black);
  font-family: var(--font-product-sans-medium);
}
.complete-profile-my-profile,
.profile-frame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.profile-frame {
  width: 1125px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-15xl) 0 var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.complete-profile-my-profile {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-6xs) 0 var(--padding-4xl) var(--padding-10xs);
  gap: var(--gap-5xl);
  letter-spacing: normal;
  text-align: left;
  font-size: 23px;
  color: var(--color-black);
  font-family: var(--font-product-sans-medium);
}
@media screen and (max-width: 1025px) {
  .complete-profile-button {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .complete-profile {
    font-size: 28px;
  }
  .icon-round-upload-frame {
    flex: 1;
  }
  .line-vector {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .book-frame {
    gap: var(--gap-mini);
  }
  .book-frame,
  .icon-round-upload-frame {
    min-width: 100%;
  }
  .line-vector {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .connectop {
    font-size: 18px;
    line-height: 25px;
  }
  .complete-profile {
    font-size: 21px;
  }
  .my-qualifications {
    font-size: 20px;
  }
  .session-text {
    flex-wrap: wrap;
  }
  .email,
  .linkedin-profile,
  .phone-number,
  .profile-bio,
  .submit,
  .upload-profile-background,
  .upload-profile-picture,
  .user-name {
    font-size: var(--font-size-mid);
  }
}
